rich
azure-identity
markitdown
aiofiles
pillow
openai
openai-agents
langchain
pytest-playwright
python-dotenv
langgraph
langchain-openai
langchain-community
langgraph-swarm
langgraph-supervisor
autogen-core
autogen-agentchat
autogen-ext[magentic-one,openai]
termcolor
datasets
